name: CD

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2

      - name: Set up Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version: "1.25"

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: v2.10.1

      - name: Test
        run: go test ./...

      - name: Build
        env:
          GOOS: linux
          GOARCH: amd64
        run: |
          go build -ldflags="-X github.com/muradavid/go-cicd-demo/internal/version.Version=${{ github.ref_name }} -X github.com/muradavid/go-cicd-demo/internal/version.Commit=${{ github.sha }} -X github.com/muradavid/go-cicd-demo/internal/version.BuildDate=$(date -u +%Y-%m-%dT%H:%M:%SZ)" -o envcheck-linux-amd64 ./cmd/envcheck

      - name: Upload to Release
        uses: softprops/action-gh-release@v2.5.0
        with:
          files: envcheck-linux-amd64
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
